.page {
	height: 100%;
	overflow: visible;
}
.top-nav li {
	width:auto;
	padding:0;
}


.boxes-bottom {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='img/box-bottom.png', sizingmethod='crop'); 
}

.boxes-bottom {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='img/box-bottom.png', sizingmethod='crop'); 
}
.boxes-middle {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='img/box-middle.png', sizingmethod='crop'); 
}
.shadow {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='img/shadow-2.png', sizingmethod='crop'); 
}
.download-inner-column-left{
	width:300px;
}
.ranks-select-box {
	margin-right:5px;
	margin-left:3px;
}
.ranks-inner-content td{
	height:21px;
}
.ranks-inner-content th{
	height:23px;
}
.ranks-dropdowns-box{
	overflow:hidden;
}
.nav-box-btn{
	margin: 0 0 0 10px;
}
.form-agb-box {
	margin-top:-4px;
}
.form label input {
	height: 15px;
	margin-right: 2px;
}
.form label {
	margin-top: -3px;
}
.modul-box .modul-box-bg-bottom {
	height: 170px;
	overflow: visible;
}
.button {padding-bottom:0px;}
.btn-center-input-small-space {float:none;}

.login-inner-content p, .pass-lost-inner-content p {margin-left:6px;}
.btn-center-input-register, .btn-center-input-space {margin-left:30px !important;}
.input-data-box .box-img {width:170px;}
.pass-lost-box-small, .register-box {margin-left:6px}
.input-data-input input {padding:2px;}
.input-data-box {height:auto; height:129px;}
.pass-lost-box-small {height:auto; height:143px;}