.header-wrapper {
    background: url(../img/header-bg-classic-btn.jpg) no-repeat 50% 0;
    height: 230px;
}

.header-box {
    margin: 160px 0 0 199px;
}

#userBox {
    background: url(../img/user-box.jpg) no-repeat;
    height:66px;
    margin:125px 0 0 159px;
    padding:10px 40px;
    width:535px;
}

#regBtn {
    background:url(../img/reg-btn-classic.jpg) no-repeat;
    display:block;
    color:#f2e69f;
    font-size:18px;
    font-weight:bold;
    height:38px;
    line-height:38px;
    margin:0 auto;
    text-align:center;
    text-decoration:none;
    text-shadow:2px 2px 5px #000000;
    width:320px;
}
#regBtn:hover {background-position:0 -38px;}

.header-box-nav-container{
    background: url(../img/header-box.png) no-repeat;
    margin: 2px 0 0 6px;
}

.welcome-text-left, .welcome-text-right{
    margin-top: 1px;
}

.container-wrapper {
    background: url(../img/container-bg-top-classic-btn.jpg) no-repeat 50% 0;
}

.col-1, .col-3 {
    margin: -42px 0 0 11px;
}

.col-3 {
    margin: -42px 9px 0 0;
}

.boxes-top {
    background: url(../img/box-top-1-classic-btn.jpg) no-repeat;
}
.col-3 .boxes-top {
    background: url(../img/box-top-2-classic-btn.jpg) no-repeat;
}
